<h2 id="title">Welcome to Ember</h2>

{{outlet}}

{{!-- ECSY demo --}}
<EcsyBabylon
  @components={{this.components}}
  @systems={{this.systems}}
as |World E|>
  <World.Entity as |E|>
    {{ecsy/component E=E name="HemisphericLight" direction=(vector 1 1 0) intensity=0.7}}
    {{ecsy/component E=E name="PointLight" direction=(vector 0 1 -1) intensity=0.3}}
  </World.Entity>

  {{#if this.showEntity}}
    <World.Entity as |E|>
      {{ecsy/component E=E name="Box" size=0.5}}
      {{ecsy/component E=E name="Rotation" value=(vector 0 this.rotateValue 0)}}
    </World.Entity>
  {{/if}}

  <World.Entity as |E|>
    {{ecsy/component E=E name="Sphere" diameter=0.75}}
    {{ecsy/component E=E name="Position" value=(vector 1 2 1)}}
  </World.Entity>
</EcsyBabylon>

<div local-class="buttons">
  <button {{on "click" this.toggleEntity}}>Toggle Box</button>
  <button {{on "click" this.rotate}}>Rotate</button>
</div>