<h2 id="title">Welcome to Ember</h2>

{{outlet}}

{{!-- ECSY demo --}}
<EcsyBabylon
  @components={{this.components}}
  @systems={{this.systems}}
as |World|>
  <World.Entity
    {{hemispheric-light direction=(vector 1 1 0) intensity=0.7}}
    {{point-light direction=(vector 0 4 -4) intensity=0.3}}
  />

  {{#if this.showEntity}}
    <World.Entity @name="node" {{rotation (vector 0 this.rotateValue 0)}}>

      <World.Entity
        @name="leaf 1"
        {{box size=2 width=3}}
      />

      <World.Entity
        @name="leaf 2"
        {{sphere diameter=3}}
        {{position (vector 1 2 1)}}
      />
    </World.Entity>
  {{/if}}
</EcsyBabylon>

<div local-class="buttons">
  <button {{on "click" this.toggleEntity}}>Toggle Box</button>
  <button {{on "click" (fn this.rotate "left" 5)}}>Rotate left</button>
  <button {{on "click" (fn this.rotate "right" 5)}}>Rotate right</button>
</div>

{{!--
<!-- FROM -->
<EcsyBabylon as |World|>
  <World.Entity {{rotation (vector 0 45 0)}}>
    <World.Entity/>
  </World.Entity>
</EcsyBabylon>

<!-- TO -->
<EcsyBabylon as |World|>
  <World.Entity P={{World.PRIVATE.ComponentInstance}} as |World|>
    <Ecsy::Component P={{World.PRIVATE.ComponentInstance}} @name="Rotation" @value={{vector 0 45 0}}/>
    <World.Entity P={{World.PRIVATE.ComponentInstance}}/>
  </World.Entity>
</EcsyBabylon>
--}}