<h2 id="title">Welcome to Ember</h2>

{{outlet}}

{{!-- ECSY demo --}}
<EcsyBabylon
  @components={{this.components}}
  @systems={{this.systems}}
as |World E|>
  {{#if this.showEntity}}
    <World.Entity as |E|>
      {{ecsy/component E=E name="Box" size=2 width=3}}
    </World.Entity>
  {{/if}}

  <World.Entity as |E|>
    {{ecsy/component E=E name="Sphere" diameter=3}}
  </World.Entity>
</EcsyBabylon>

<button {{on "click" this.toggleEntity}}>Toggle Box</button>