<h2 id="title">Welcome to Ember</h2>

{{outlet}}

{{!-- BABYLON demo --}}
{{!--<Babylon::Scene style="width: 640px; height: 480px;">
  <Babylon::Base/>
</Babylon::Scene>--}}


{{!-- ECSY demo --}}
<Ecsy
  @components={{this.components}}
  @systems={{this.systems}}
as |World|>
  <EcsyBabylon @world={{World.world}}>
    {{#if this.showEntity}}
      <World.Entity as |E|>
        {{ecsy/component E=E name="Box" size=2 width=3}}
      </World.Entity>
    {{/if}}
  </EcsyBabylon>
</Ecsy>

<button {{on "click" this.toggleEntity}}>Toggle Box</button>