<h2 id="title">Welcome to Ember</h2>

{{outlet}}

{{!-- BABYLON demo --}}
{{!--<Babylon::Scene style="width: 640px; height: 480px;">
  <Babylon::Base/>
</Babylon::Scene>--}}


{{!-- ECSY demo --}}
<EcsyBabylon
  @components={{this.components}}
  @systems={{this.systems}}
as |World E|>
  {{! we could apply an ecsy/component here to the EcsyBabylon entity to provide e.g. Input or a Camera}}

  {{#if this.showEntity}}
    <World.Entity as |E|>
      {{ecsy/component E=E name="Box" size=2 width=3}}
    </World.Entity>
  {{/if}}
</EcsyBabylon>

<button {{on "click" this.toggleEntity}}>Toggle Box</button>